body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero span {
    color: #38bdf8;
}

section {
    padding: 60px 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

form input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}
/* SOCIAL SECTION */
.social-links {
    display: flex;
    gap: 25px;
    margin-top: 20px;
    justify-content: center;
}

.social-links a {
    font-size: 28px;
    color: white;
    padding: 15px;
    border-radius: 50%;
    background: #1e293b;
    transition: 0.3s;
}

.social-links a:hover {
    transform: scale(1.2);
    background: #38bdf8;
}